@import "../../styles/_vars"

.wrapper
	margin-top: 50px
	display: grid
	grid-template-rows: 1fr auto
	gap: 50px

.header
	display: grid
	grid-template-rows: auto 1fr
	gap: 20px
	color: $colorWhite
	font-weight: 400

.title
	font-family: $fontMontserrat
	font-weight: 600
	font-size: 45px

.description
	font-family: $fontMontserrat
	font-weight: 400
	line-height: 27px
	font-size: 19px
	max-width: 700px

.button a
	display: flex
	align-items: center
	gap: 10px
