@import "../../styles/_vars.sass"

.wrapper
	background-color: $colorLightBlack
	padding: 20px 0
	color: $colorWhite

.text
	text-align: center
	line-height: 22px
	& a
		color: $colorGreen
		text-decoration: underline
		transition: color .2s ease
		&:hover
			color: $colorPurple
